@charset "UTF-8";
/* This class is added on scroll */
.fixed {
	position: fixed !important; 
	top: 0; 
	height: 58px; 
	z-index: 99999;
}

html, body {
  overflow-x:hidden 
} 
body {
  font-family: Arial,sans-serif;}
/*@media (max-width: 767px){
    body {
        padding-right: 20px;
        padding-left: 20px;
    } .navbar {
       padding:0 20px;
    } 
 }*/
@media (min-width: 992px){    
    header {
        background: #ca0000 url("../img/index_header_bg.jpg") no-repeat center center;
        height: 789px;
        position: relative;
    }
    #logo {
        z-index: 3000;
        position: absolute;
        bottom: 15px;
        right: 257px;
    }
    
    #logo a{
        display: block;
        background: transparent url("../img/logo.png") no-repeat center center;
        background-size: 115px auto;
        width: 115px;
        height: 120px;
    }
    
    body > .container{
        width: 1230px;
        padding: 0;
    }
    #header-bottom{
        position: absolute;
        width: 1260px;        
        bottom: 0;
        padding-bottom: 9px;
        background: #ca0000 url(../img/index_header_bg.jpg) no-repeat bottom center;
    }
    }
    #header-right-bottom{
        color: #ffff00;
        margin-top: 15px;
        margin-right: 12px;
    }
    #header-right-bottom span{
        margin-left: 10px; 
    }
    
    .nav > li > a {
      padding: 15px 10px 15px 23px;    
        font-family: "Arial Narrow", Arial, sans-serif;
        font-weight: normal;
       }
    
    .navbar {
      margin-bottom: 0;
     }
     .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
     }
    .navbar-nav {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0; }

    #header-top {
        width: 340px;
        margin: 10px 24px;
    }
    
    #header-top  #search-top{
        width: 265px;
    }
    #header-top  > .pull-right ul{        
        padding: 0;
        list-style: none;
    }
    #header-top  > .pull-right li{        
        display: inline;
    }
    #header-top > .pull-right a.active{
        color: #fffc00;
    }
    #header-top  > .pull-right, #header-top > .pull-right a{
        margin-top: 6px;
        color: #fff;
        font-weight: bold;
    }
    #header-top > .pull-right a:hover, #header-top > .pull-right a:focus{
        text-decoration: none;
    }
    
    #header-top > div{
        display: inline-block;
    }
    /*<!--http://bootsnipp.com/snippets/featured/expanding-search-button-in-css-->*/
    .search-form .form-group {
        float: right !important;
        transition: all 0.35s, border-radius 0s;
        width: 32px;
        height: 32px;
        background-color: #fff;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        border-radius: 25px;
        border: 1px solid #ccc;
        margin-bottom: 0;
    }
    .search-form .form-group input.form-control {
        padding-right: 20px;
        border: 0 none;
        background: transparent;
        box-shadow: none;
        display:block;
    }
    .search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
    }
    .search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
    }
    .search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
    }
    .search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
    }
    .search-form .form-group:hover,
    .search-form .form-group.hover {
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    }
    .search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
    }           
    footer .footer-details{
        padding: 45px 70px 18px 60px;
        background: #1c1c1c url(../img/footer-bur-right-bg.png) no-repeat;
        background-position: right bottom;
    }
    footer #google-map{
        height: 250px;
    }
    .service{
        background-color: #ca0000; 
        
    }
    .slick{ 
        padding: 100px 0 70px 0; 
        margin: 0 15px;
    }
    .slick h4, .slick p{
        color: #fff;        
    }
    .slick a.slick-slide:hover, .slick a.slick-slide:focus {
        text-decoration: none;
        background-color: #ca0000;
    }
    .service-ico {
        background-image: url('../img/service-icons.png');
        background-repeat: no-repeat;   
        width: 107px;
        height: 88px;
        display: inline-block;
    }
        .service-ico.search-barcode {
          background-position: 0 0;
        }
        .service-ico.hosting {
          background-position: -107px 0;
        }
        .service-ico.mouse {
          background-position: -214px 0;
        }
        .service-ico.social-network {
        }
        .service-ico.search-web {
          background-position: -321px 0;
        }
        .service-ico.global {
          background-position: -428px 0;
        }
}